<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定博客</title>
<style>
</style>

</head>
<body>

<form action="api/blog/bind" method="post">
    Owner: <input type="text" name="owner" /><br>
    Repo: <input type="text" name="repo" /><br>
    Url: <input type="text" name="url" /><br>
    <input type="submit" value="Submit" /><br>
</form>

</body>
</html>
