<head>
    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/github-gist.min.css" rel="stylesheet">

</head>

<body>
<pre><code id="code" ></code></pre>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<script>
    axios.get(`https://cdn.jsdelivr.net/gh/${getQueryString('url')}`).then(e=>{
        document.getElementById('code').innerText = e.data;
    });
    document.getElementById('code').setAttribute('class',getQueryString('url').split('.')[1]);
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
</script>
<script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
